//ADMISSION
.admission_wrapper {
  font-family: "Roboto", "sans-serif";
  .admission_section {
    width: 100%;
    h3 {
      font-family: "Roboto", "sans-serif";
    }
    .admission_title h3 {
      font-size: 2.3em;
    }
    .admission_title h6 {
      padding: 0 1em;
    }
  }
  .admission_content {
    font-size: 1em;
    padding: 2em 2em;
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    .admission_right {
      margin-bottom: 1em;
      margin-right: 2em;
      max-width: 550px;
    }
    .admission_left {
      margin-top: 1em;
    }
    .admission_left p {
      line-height: 1.7em;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }
}
.application_section {
  display: flex;
  height: 500px;
  width: 100%;
  padding: 0 0.7em;
  justify-content: space-evenly;
  align-items: center;
  .application_question {
    color: #fff;
    padding: 1em;
    max-width: 400px;
    background: #3681c1;
    height: 360px;
  }
  .question_box p {
    padding: 0.8em 0;
  }
  .question_box h3 {
    font-size: 1.92rem;
  }
  .application_form {
    height: 370px;
  }
  .question_button a {
    display: none;
  }
  @media only screen and (max-width: 1000px) {
    .application_question {
      display: none;
    }
    flex-direction: column;
    .question_button a {
      display: block;
    }
  }
}

// CALENDAR
.calendar_section {
  font-family: "Roboto", "sans-serif";
  height: 100vh;
  h2 {
    padding: 0.7em 0;
    font-family: "Great Vibes", "cursive";
    margin: 0;
  }
  .calendar_wrapper {
    padding: 0 1em;
    background: #eceff1;
    justify-content: space-evenly;
    display: flex;
    .calendar_dates {
      height: 100%;
      max-width: 350px;
      .dates {
        margin: 0.8em 0;
      }
      .date {
        margin: 0.5em 0;
      }
    }
    .calendar {
      padding-top: 2em;
    }
    @media only screen and (max-width: 981px) {
      .calendar {
        width: 680px;
      }
      .calendar_dates {
        max-width: 750px;
      }
      flex-direction: column;
      align-items: center;
    }
  }
}

// CURRICULUM
.curriculum_section {
  // padding: 0 1em;
  display: flex;
  // align-items: center;
  justify-content: space-evenly;

  h3 {
    font-family: "Great Vibes", "cursive";
  }
  .curriculum_info {
    padding: 0 1.5em;
    padding-top: 1.5em;
  }
  .images {
    height: 200px;
    background: #eceff1;
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  @media only screen and (max-width: 974px) {
    flex-direction: column;
    .images {
      justify-content: space-evenly;
      width: 100%;
      flex-direction: row;
      .image img {
        width: 170px;
      }
    }
  }
  @media only screen and (max-width: 569px) {
    flex-direction: column-reverse;
    .images {
      padding: 1.2em 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      .image img {
        width: 450px;
      }
    }
  }
}

// COUNSELING
.divider {
  margin-top: 7em;
}
.counseling {
  height: 100vh;
  h3 {
    font-family: "Great Vibes", "cursive";
  }
  .requests {
    padding: 1em 1.2em;
    background: #eceff1;
    .service_info {
      max-width: 500px;
    }
    .button {
      background: #3781c1;
    }
  }
  .advisors {
    .button {
      background: #3781c1;
    }
  }
  .resources {
    padding: 1.2em 1em;
    background: #eceff1;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-evenly;
    @media only screen and (max-width: 710px) {
      flex-direction: column;
    }
  }
}

// STUDENT
.student_section {
  h3 {
    font-family: "Great Vibes", "cursive";
  }
  .student_container {
    .student_top {
      display: flex;
      margin-bottom: 2em;
      p {
        line-height: 1.6em;
        padding: 0 1em;
      }
      @media only screen and (max-width: 710px) {
        flex-direction: column;
        align-items: center;
       p{
         padding: 1em 0;
       }
      }
    }
    .student_bottom {
      margin-bottom: 1.5em;
      padding: 0 1em;
      background: #eceff1;
      display: flex;
      blockquote {
        padding: 0 1em;
        font-style: italic;
        border-left-color: #3681c1;
      }
      @media only screen and (max-width: 710px) {
        flex-direction: column;
      }
    }
  }
}
