//ADMISSION
.admission_wrapper {
  .admission_section {
    width: 100%;
    h3 {
      font-family: "Roboto", "sans-serif";
    }
    .admission_title h3 {
      font-size: 2.3em;
    }
    .admission_title h6 {
      padding: 0 1em;
    }
  }
  .admission_content {
    font-size: 1em;
    padding: 2em 2em;
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    .admission_right {
      margin-bottom: 1em;
      margin-right: 2em;
      max-width: 550px;
    }
    .admission_left {
      margin-top: 1em;
    }
    .admission_left p {
      line-height: 1.7em;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      text-align: center;
    }
  }
}
.application_section {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  .application_question {
    color: #fff;
    padding: 1em;
    max-width: 400px;
    background: #3681c1;
    height: 360px;
  }
  .question_box p {
    padding: 0.8em 0;
  }
  .question_box h3 {
    font-size: 1.92rem;
  }
  .application_form {
    height: 370px;
  }
}
